* {
    -color-primary: #003a6c;
    -color-primary-dark: #003a6c;
    -color-primary-light: #3c6ab2;
    -color-accent: #003a6c;
    -color-background: #f2f2f2;
    -color-text: BLACK;
    -color-header: WHITE;
    -color-button-text: WHITE;
    -color-approved: #008000;
    -color-rejected: #800000;
}

.button-raised {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: -color-accent;
    -fx-pref-width: 200;
    -fx-text-fill: -color-button-text;
}

.custom-jfx-check-box {
    -jfx-checked-color: -color-accent;
    -jfx-unchecked-color: -color-accent;
    -fx-text-fill: -color-text;
    -fx-font-size: 13px;
}

.custom-jfx-combo-box {
    -jfx-focus-color: -color-accent;
    -jfx-unfocus-color: -color-accent;
}

.custom-jfx-combo-box > .combo-box-popup .list-view .jfx-list-cell {
    -fx-background-color: -color-background;
    -fx-border-color: -color-background;
}

.custom-jfx-combo-box > .combo-box-popup .list-view .jfx-list-cell:hover {
    -fx-background-color: #94a000;
}

.custom-jfx-radio-button {
    -jfx-selected-color: -color-accent;
    -jfx-unselected-color: -color-accent;
    -fx-text-fill: -color-text;
}

.custom-jfx-progress-bar > .bar {
    -fx-background-color: -color-accent;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
}

.settingsPane, .settingsPaneHolder {
    -fx-background-color: -color-background;
}

.custom-jfx-slider {
    -jfx-default-thumb: -color-accent;
    -jfx-default-track: -color-text;
}

.custom-jfx-slider .slider-value {
    -fx-stroke: -color-background;
    -fx-font-size: 10;
}

.link {
    -fx-text-fill: -color-accent;
}

.root {
    -fx-background-color: -color-background;
}

.header {
    -fx-font-size: 20px;
    -fx-font-family: 'sans-serif' !important;
}

.jfx-rippler {
    -jfx-rippler-fill: -color-accent;
}

.custom-jfx-date-picker {
    -jfx-default-color: -color-accent;
}

.custom-jfx-text-field {
    -jfx-focus-color: -color-accent;
    -jfx-label-float: true;
}

.label, .text-area, .text-field {
    -fx-text-fill: -color-text;
}

.custom-jfx-text-area {
    -jfx-focus-color: -color-accent;
    -jfx-label-float: true;
}

.custom-jfx-text-area .content {
    -fx-background-color: -color-background;
}

.custom-jfx-scroll-pane .main-header {
    -fx-background-color: -color-background;
}

.custom-jfx-scroll-pane, .custom-vbox{
    -fx-background-color: -color-background;
}

.jfx-scroll-pane {
    -fx-background-color: -color-background;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: -color-background;
}

.increment-button, .decrement-button {
    -fx-background-color: -color-background;
    -fx-border-color: -color-background;
}


.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: -color-background;
    -fx-border-color: -color-background;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: grey;
}


.scroll-pane {
    -fx-background-color: -color-background;
     -fx-border-color: -color-background;
}

.root{
    -fx-base: -color-accent;
    -fx-background: -color-background;
}


/*
.button {
    -fx-background: -color-accent;
}

.header {
    -fx-text-color: -color-primary;
}

.title {
    -fx-text-fill: white;
    -fx-background-color: -color-primary;
}*/

#ttbID {
    -fx-text-fill: grey;
    -fx-font-size: 12px;
}

#toolbar-title {
    -fx-text-fill: -color-header;
    -fx-font-size: 24px;
}

.toolbar-text {
    -fx-text-fill: -color-header;
}

.table-view, .tree-table-view {
	/* Constants used throughout the tableview. */
	-fx-table-header-border-color: transparent;
	-fx-table-cell-border-color: -color-accent; /* Horizontal Lines*/
	-fx-background-color: -color-background;
}

/* The column header row is made up of a number of column-header, one for each
   TableColumn, and a 'filler' area that extends from the right-most column
   to the edge of the tableview, or up to the 'column control' button. */
.table-view .filler, .tree-table-view .filler, .table-view .column-header,
	.tree-table-view .column-header {
	-fx-size: 65;
	-fx-border-style: null;
	-fx-border-color: -color-accent;
	-fx-border-width: 0 0 2 0;
	-fx-background-color: -color-background;
}

.table-view .show-hide-columns-button, .tree-table-view .show-hide-columns-button
{
	-fx-background-color: -color-background;
}

.table-view .column-header .label, .table-view .filler .label,
	.table-view .column-drag-header .label, .tree-table-view .column-header .label,
	.tree-table-view .filler .label, .tree-table-view .column-drag-header .label
	{
	-fx-alignment: CENTER;
}

.table-view .column-header-background, .tree-table-view .column-header-background
	{
	-fx-background-color: -color-background;
}

.table-row-cell, .tree-table-row-cell {
	-fx-cell-size: 40px;
	-fx-background-color: -color-background;
}

.table-cell {
	-fx-border-color: transparent; /* Vertical Lines*/
	-fx-border-width: 1;
	-fx-background-color: transparent;
	-fx-alignment: CENTER;
}

.list-view:focused .list-cell:filled:focused:selected, .table-row-cell:focused .table-row-cell:filled:focused:selected, .table-row-cell:selected {
	-fx-background-color: grey;
	-fx-text-fill: -color-text;
}


.list-view:hover .list-cell:hover, .table-row-cell:hover {
	-fx-background-color: lightgrey;
	-fx-text-fill: -color-text;
}

.list-cell {
	-fx-cell-size: 40;
}

.label-header {
    -fx-text-fill: grey;
    -fx-alignment: CENTER_RIGHT;
}

.list-item {
    -fx-padding: 16;
    -fx-spacing: 8;
    -fx-alignment: CENTER_LEFT;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: lightgrey;
    -fx-background-color: -color-background;
}

.list-holder {
    -fx-padding: 0;
    -fx-pref-width: 300;
    -fx-border-width: 0 2 0 0;
    -fx-border-color: lightgrey;
}

.list-item-selected {
    -fx-background-color: #e0e0e0;
}


.list-item-empty {
    -fx-padding: 16;
    -fx-pref-width: 300;
    -fx-spacing: 8;
    -fx-alignment: CENTER;
    -fx-background-color: -color-background;
}

.list-item-empty * {
   -fx-text-fill: grey;
}

.list {
    -fx-padding: 0;
}

.subhead {
    -fx-text-fill: grey;
}

.approved {
    -fx-text-fill: -color-approved;
    -fx-font-weight: bold;
}

.approve-button {
    -fx-background-color: #008000;
}

.rejected {
    -fx-text-fill: -color-rejected;
    -fx-font-weight: bold;
}

.jfx-snackbar-content {
    -fx-background-color: #323232;
    -fx-min-width: 288px;
    -fx-pref-height: 48px;
    -fx-background-radius: 2;
}
.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
    -fx-font-size: 14px;
}
.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}